body {
	background-color: black;
	align-items: center;
	justify-content: center;
	position: center;
	text-align: center;
	color: white;
	font-size: 40px;
}

.container {
	background-image: url("../MEDIA/Gif/login.gif");
	padding: 10px;
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: "Cinzel", serif;
}

h1 {
	font-size: 100px;
	margin-bottom: 5px;
}

input,
button {
	padding: 10px;
}
button:hover:active {
	background-color: #606b73;
}

button:hover {
	background-color: #a69f95;
}

input:hover:active {
	background-color: #606b73;
}

input:hover {
	background-color: #a69f95;
}
